{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "./semantic-release-filter-author.js",
      {
        "excludeAuthors": [
          "nurbolnygmanov@gmail.com"
        ],
        "wrappedConfig": {
          "preset": "conventionalcommits"
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}