name: release-validation

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  contents: read # to fetch code (actions/checkout)
  pull-requests: read # to fetch PR title (amannn/action-semantic-pull-request)

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
